{% extends 'flatpages/default.html' %}
{% load static %}

{% block content %}
    {% if accounts %}
        <div class="accounts_list">
            {% for account in accounts %}
                <div class="account">
                    <p>{{account.email}}</p>
                    <p>{{account.provider}}</p>
                    <p>{{account.password}}</p>
                    <a href="{% url 'account-detail' account.id%}">Детали аккаунта</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
    {% endif %}
    <a href="{% url 'account-create' %}">Добавить почтовый аккаунт</a>
{% endblock %}